<li class="nav-item dropdown">
  <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="ni ni-bell-55"></i>
  </a>
  <div class="dropdown-menu dropdown-menu-xl  dropdown-menu-right  py-0 overflow-hidden">
    <!-- Dropdown header -->
    <div class="px-3 py-3">
      <h6 class="text-sm text-muted m-0">You have <strong class="text-primary">13</strong> notifications.</h6>
    </div>
    <!-- List group -->
    <div class="list-group list-group-flush">
      <a href="#!" class="list-group-item list-group-item-action">
        <div class="row align-items-center">
          <div class="col-auto">
            <!-- Avatar -->
              <%= image_tag "theme/team-1.jpg", alt: "Image placeholder", class: "avatar rounded-circle" %>
          </div>
          <div class="col ml--2">
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <h4 class="mb-0 text-sm">John Snow</h4>
              </div>
              <div class="text-right text-muted">
                <small>2 hrs ago</small>
              </div>
            </div>
            <p class="text-sm mb-0">Let's meet at Starbucks at 11:30. Wdyt?</p>
          </div>
        </div>
      </a>
      <a href="#!" class="list-group-item list-group-item-action">
        <div class="row align-items-center">
          <div class="col-auto">
            <!-- Avatar -->
              <%= image_tag "theme/team-2.jpg", alt: "Image placeholder", class: "avatar rounded-circle" %>
          </div>
          <div class="col ml--2">
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <h4 class="mb-0 text-sm">John Snow</h4>
              </div>
              <div class="text-right text-muted">
                <small>3 hrs ago</small>
              </div>
            </div>
            <p class="text-sm mb-0">A new issue has been reported for Argon.</p>
          </div>
        </div>
      </a>
      <a href="#!" class="list-group-item list-group-item-action">
        <div class="row align-items-center">
          <div class="col-auto">
            <!-- Avatar -->
              <%= image_tag "theme/team-3.jpg", alt: "Image placeholder", class: "avatar rounded-circle" %>
          </div>
          <div class="col ml--2">
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <h4 class="mb-0 text-sm">John Snow</h4>
              </div>
              <div class="text-right text-muted">
                <small>5 hrs ago</small>
              </div>
            </div>
            <p class="text-sm mb-0">Your posts have been liked a lot.</p>
          </div>
        </div>
      </a>
      <a href="#!" class="list-group-item list-group-item-action">
        <div class="row align-items-center">
          <div class="col-auto">
            <!-- Avatar -->
              <%= image_tag "theme/team-4.jpg", alt: "Image placeholder", class: "avatar rounded-circle" %>
          </div>
          <div class="col ml--2">
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <h4 class="mb-0 text-sm">John Snow</h4>
              </div>
              <div class="text-right text-muted">
                <small>2 hrs ago</small>
              </div>
            </div>
            <p class="text-sm mb-0">Let's meet at Starbucks at 11:30. Wdyt?</p>
          </div>
        </div>
      </a>
      <a href="#!" class="list-group-item list-group-item-action">
        <div class="row align-items-center">
          <div class="col-auto">
            <!-- Avatar -->
              <%= image_tag "theme/team-5.jpg", alt: "Image placeholder", class: "avatar rounded-circle" %>
          </div>
          <div class="col ml--2">
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <h4 class="mb-0 text-sm">John Snow</h4>
              </div>
              <div class="text-right text-muted">
                <small>3 hrs ago</small>
              </div>
            </div>
            <p class="text-sm mb-0">A new issue has been reported for Argon.</p>
          </div>
        </div>
      </a>
    </div>
    <!-- View all -->
    <a href="#!" class="dropdown-item text-center text-primary font-weight-bold py-3">View all</a>
  </div>
</li>
