<% content_for(:title) { 'Create an account' } %>
<% content_for(:subtitle) { 'Use these awesome forms to login or create new account in your project for free.' } %>

<div class="container mt--8 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <div class="card bg-secondary border-0">
        <div class="card-body px-lg-5 py-lg-5">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            <div class="form-group">
              <div class="input-group input-group-merge input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                </div>
                <%= f.text_field :name, class: "form-control", placeholder: "Name" %>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-merge input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                </div>
                <%= f.email_field :email, class: "form-control", type: "email", placeholder: "Email", autofocus: true, autocomplete: "email" %>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-merge input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <%= f.password_field :password, class: "form-control", type: "password", placeholder: "Password", autocomplete: "new-password" %>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-merge input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <%= f.password_field :password_confirmation, class: "form-control", type: "password", placeholder: "Password Confirmation", autocomplete: "new-password" %>
              </div>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary mt-4">Create Account</button>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
