<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="row align-items-center py-4">
      <div class="col-lg-6 col-7">
        <h6 class="h2 text-white d-inline-block mb-0">Bugs</h6>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--6">
  <div class="row">
    <div class="col">
      <div class="card">
        <!-- Card header -->
        <div class="card-header border-0">
          <h3 class="mb-0">All Bugs</h3>
        </div>
        <!-- Light table -->
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col" class="sort" data-sort="name">Title</th>
                <th scope="col" class="sort" data-sort="budget">Platform</th>
                <th scope="col" class="sort" data-sort="status">Status</th>
                <th scope="col" class="sort" data-sort="status">Created</th>
                <th scope="col" class="sort" data-sort="status">Last Updated</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody class="list">
              <% @bugs.each do |bug| %>
                <tr>
                  <th scope="row">
                    <div class="media align-items-center">
                      <div class="media-body">
                        <span class="name mb-0 text-sm"><%= bug.title %></span>
                      </div>
                    </div>
                  </th>
                  <td class="budget">
                    <%= bug.platform %>
                  </td>
                  <td>
                    <span class="badge badge-dot mr-4">
                      <i class="<%= status_icon_class(bug) %>"></i>
                      <span class="status"><%= render_status(bug) %></span>
                    </span>
                  </td>
                  <td>
                    <span class="bug-date"><%= render_date(bug.created_at) %></span>
                  </td>
                  <td>
                    <span class="bug-date"><%= render_date(bug.updated_at) %></span>
                  </td>
                  <td>
                    <%= render 'pages/tables/row_actions' %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <!-- Card footer -->
        <div class="card-footer py-4">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">
                  <%= fa_icon 'angle-left' %>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
              </li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#">
                  <%= fa_icon 'angle-right' %>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
