<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="row align-items-center py-4">
      <div class="col-lg-6 col-7">
        <h6 class="h2 text-white d-inline-block mb-0">Bugs</h6>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--6">
  <div class="row">
    <div class="col">
      <div class="card">
        <!-- Card header -->
        <div class="card-header">
          <div class="row mb-2">
            <div class="col">
              <h3><%= @bug.title %></h3>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <a class="btn btn-primary btn-sm" href="<%= bugs_path %>"><%= fa_icon 'chevron-left' %> Back</a>
              <a class="btn btn-primary btn-sm" href="<%= edit_bug_path(@bug) %>"><%= fa_icon 'edit' %> Edit</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h4>Title</h4>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p><%= @bug.title %></p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h4>Platform</h4>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p><%= @bug.platform %></p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h4>Status</h4>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p><%= render_status(@bug) %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
